{% load static %}



{% block content %}

    <header>
        <div class="nav-container">
            <nav>
                <div class="nav-brand">
                    <div class="hamburger-menu-container">
        
                        <div class="hamburger-menu">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div class="nav-dropdown-menu">
                            <a href="{% url "stack_overflow:home" %}" class="current-link">Home</a>
                            <h5>Public</h5>
                            <ul class="nav-ul">
                                <li class="nav-item">
                                    <!--<i class="fas fa-globe-europe"></i>-->
                                    
                                    <a href="{% url "stack_overflow:home" %}" class="nav-link"><i class="fab fa-stack-overflow"></i> Stack Overflow</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-tag"></i> Tags</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-user"></i> Users</a></li>
                            </ul>
                            <h5>Find a Job</h5>
                            <ul class="nav-ul">
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-suitcase"></i> Jobs</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-building"></i> Companies</a></li>
                            </ul>
                            <h5>Teams <a href="#" >What's this ?</a></h5>
                            <a href="#" class="nav-link">
                                <i class="fas fa-briefcase"></i>
                                <span>Free 30 Day Trial</span>
                            </a>
                        </div>
                    </div>
        
                    <a href="" class="nav-icon">
                        <i class="fab fa-stack-overflow"></i>
                        <a href="" style="text-decoration: none; color: black;"><div class="nav-icon-text">Stack <span class="nav-bold-text">Overflow</span></a>
                        <!-- <div class="nav-icon-text">stack <span class="nav-bold-text">overflow</span> -->
        
                        
                        </div>
                    </a>
                </div>
                <div class="nav-base-links">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">For Teams</a></li>
                    </ul>
                </div>
                <div class="nav-search">
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <form action="" method="GET">
                            <input type="text" id="" name="search-area" placeholder="Search...">
                            <button type="submit" style="margin-left: 340px; border-radius: 25px; border: none; padding: 8px;">Search</button>
                        </form>
                    </div>
                    <div class="search-hints">
                        <div class="search-arrow-up"></div>
                        <div class="search-hint-body">
                            <div class="hints-grid-column">
                                <div class="hint-text"><span>[tag] </span> search within a tag</div>
                                <div class="hint-text"><span>user:1234 </span>  search by author</div>
                                <div class="hint-text"><span>"words here"</span> exact phrase </div>
                            </div>
                            <div class="hints-grid-column">
                                <div class="hint-text"><span>answers:0</span> unanswered questions</div>
                                <div class="hint-text"><span> score:3  </span> posts with a 3+ score</div>
                            </div>
                        </div>
                        <div class="search-hint-footer">
                            <a href="#" class="btn">Ask a question</a>
                            <a href="#" class="search-help">Search help</a>
                        </div>
                    </div>
        
                </div>
                <div class="nav-right-buttons">
                    <div class="search-btn">
                        <i class="fas fa-search"></i>
                    </div>
                    {% if user.is_authenticated %}
                    <a href="{% url "user:profile" %}" class="btn btn-login">Profile</a>
                    <a href="{% url "user:logout" %}" class="btn btn-register">Logout</a> 
                    {% else %}
                    <a href="{% url "user:login" %}" class="btn btn-login">Log in</a>
                    <a href="{% url "user:register" %}" class="btn btn-register">Sign up</a> 
                    {% endif %}
                </div>
            </nav>
        </div>

        <div style+"margin-top: 10px;">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <h4 style="text-align:center;">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </header>

{% endblock  %}